
.header {
    background-image: url(/img/contatoheader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.logo_home {
    width: 16rem;
}

.nav_bar {
    padding: 25px;
    padding-top: 30px;
    display: flex;
    gap: 10rem;
}

.nav_items {
    display: flex;
    align-items: center;
    gap: 3rem;

}

.nav_items a {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 100;
}

.nav_items a:hover {
    border-bottom: solid 2px #fe7467;
}

.img_fale_conosco {
    width:25rem;
    height: 20rem;
    position: absolute;
    left: 22rem;
    bottom: 3rem;


}

@media screen and (max-width:768px) {
    .nav_bar {
        flex-direction: column;
        align-items: center;
        gap: 7.5rem;
    }

    .header {
        background-image: url(/img/contatoheader_mobile.jpg);


    }

    .img_fale_conosco {
        display: none;

    }
}

.section_contato {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    align-items: center;
    gap: 2rem;
}

.contato_titulo {
    color: #494a49;
    font-family: montserrat, sans-serif;
    font-size: 2rem;
    padding: 10px;
    font-weight: bold;

}



.contato_texto {
    color: #5b5c5b;
    font-family: montserrat, sans-serif;
    text-align: justify;
    font-size: 1.2rem;
    padding: 10px;
    font-weight: bold;
}



.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_div {
    display: flex;
    flex-direction: column;
}

.form_div {
    width: 15%;
    padding: 10px;
    gap: 0.3rem;
}

.nome {
    color: rgb(184, 183, 183);
    width: 100%;
    height: 3rem;
    border: solid 1.1px;
    border-radius: 8px;
    padding: 20px;
}

.email {
    color: rgb(184, 183, 183);
    width: 100%;
    height: 3rem;
    border: solid 1.1px;
    border-radius: 8px;
    padding: 20px;
}

.telefone {
    color: rgb(184, 183, 183);
    width: 100%;
    height: 3rem;
    border: solid 1.1px;
    border-radius: 8px;
    padding: 20px;
}

.textarea {
    color: rgb(184, 183, 183);
    width: 22rem;
    height: 10.8rem;
    border: solid 1.1px;
    border-radius: 10px;
    padding: 20px;
}

.div_button {
    display: flex;
    justify-content: center;

}

.button {
    width: 32.8%;
    height: 3rem;
    border: solid 1.1px;
    border-radius: 10px;
    margin-bottom: 50px;
    background-image: linear-gradient(#fe7464, #fc3836);

}

.button {
    font-family: oswald, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;

}


@media screen and (max-width:768px) {


    .textarea {
        width: 21rem;
        margin-bottom: 30px;


    }

    .form {
        flex-direction: column;
    }

    .form_div {
        width: 50%;
    }


    .button {
        width: 48%;
        font-size: 1rem;

    }


}